# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Cloudflare Wrangler & D1 Local State
.wrangler/
.dev.vars

# Compiled outputs and caches (Angular & others)
dist/
.angular/
tmp/
out-tsc/
bazel-out/

# IDE / Editor Settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/

# Operating Systems
.DS_Store
Thumbs.db