# Dependencies
node_modules/

# Build output
dist/
coverage/
.angular/
.turbo/
functions/lib/


# OS/editor
.DS_Store
.idea/
.vscode/


# Firebase emulator data
.firebase-emulator-data/

# Firebase local logs
firebase-debug.log
firestore-debug.log
ui-debug.log
